name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t traintravelanalysis .

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd /home/ubuntu/webApp/deploy/traintravelanalysis
          GIT_SSH_COMMAND="ssh -i ~/.ssh/github_ci_key" git pull origin master
          docker build --no-cache -t traintravelanalysis .
          docker stop traintravelanalysis || true
          docker rm traintravelanalysis || true
          docker run -d -p 8502:8502 -v /home/ubuntu/webApp/deploy/configFiles/config_traintravelanalysis.py:/app/config.py --name traintravelanalysis tgvmaxsearcher